/* Core Site Styles */
body {
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
}

.center {
    text-align: center;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Sticky Header Row */
th {
    background-color: lightslategray;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 2;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* Cell Styling */
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: lightgrey;
}

/* Sticky header for the first header row (column names) */
thead tr:first-child th {
    background-color: lightslategray;
    position: sticky;
    top: 0;
    border: 1px solid black;
    z-index: 3; /* Higher z-index to overlap the filter row */
  }
  
  /* Sticky header for the second header row (dropdown filters) */
  thead tr:nth-child(2) th {
    background-color: lightslategray;
    position: sticky;
    top: 35px; /* Adjust this value based on your first row's height */
    z-index: 2;
    border: 1px solid black;
  }

/* Search Input Styling */
#searchInput {
    width: 33%;
    padding: 8px;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Button Styling */
button {
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Highlight Selected Row */
.highlight {
    background-color: mediumblue !important;
    color: white;
    font-weight: bold;
}  

/* Hide Column E (the 5th column) */
#csvTable th:nth-child(5),
#csvTable td:nth-child(5) {
    display: none;
}